{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"arrowParens": "avoid",
    "importOrder": [
      "<THIRD_PARTY_MODULES>",
      "^@/types/(.*)$",
      "^@/api/(.*)$",
      "^@/hooks/(.*)$",
      "^@/components/(.*)$",
      "^@/assets/(.*)$",
      "^../(.*)$",
      "^./(.*)$"
    ],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
