{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"arrowParens": "avoid",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/hooks/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/providers/(.*)$",
		"^@/types/(.*)$",
		"^../(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
